.card__text {
    line-height: 35px;
    color: gray;
    font-size: 14px;
}
.card__link:hover {
  opacity: .7;
  transform: translateY(-5px);
}
body {
  background-color: rgba(175, 172, 172, 0.767);
}
