@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
body {
  background-color: #28c0e6; 
  font-family: "Momo Signarute", cursive;
  text-align: center;
}
img {
  width: 200px;
  height: 266px;
}