body {
      padding: 50px;
      background-color: #18191C;
      color: #fff;
      font-size: 16px;
}
.cap {
	width: 90%;
	height: 500px;
	background-color: green;
	border: solid 2px black;
	padding: 10px;
	margin: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: start;
}
.main {
	width: 80%;
	height: 500px;
	background-color: blue;
	border: solid 2px black;
	padding: 10px;
	margin: 20px;
	border-color: red;
}
.Square_1 {
	height: 50px;
	width: 10%;
	min-width: 100px;
	background-color: #FFFFFF;
	color: #663613;
	border: solid 2px black;
	padding: 10px;
	margin: 10px auto;
}